.Chat-main
  .Chat-main__group-info
    .Header-left
      .Header-left__name
        = @group.name
      .Header-left__lists
        Member : 
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "Header-edit" do
      Edit
  .Chat-main__message-list
    = render @messages
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: "Form__text", placeholder: "type a message"
        = f.label :image, class: "Form__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "Form__image-file"
      = f.submit "Send", class: "submit-btn"
